package config;

public class Config {
    public static final String REDIS_HOST = "@REDIS_HOST@";
    public static final String REDIS_DATABASE = "@REDIS_DATABASE@";
    public static final String REDIS_PASSWORD = "@REDIS_PASSWORD@";
}
